html {
  /*表格样式*/
  /*修改表格插件样式*/
  /*筛选框样式*/
  /*加载动画*/
  /*修改element插件的样式*/
  /*模拟表格*/
}
html .tooltip .tooltip-inner {
  text-align: left;
}
html .w100 {
  width: 100%;
}
html .xOverflow {
  overflow-x: hidden;
}
html .break-word {
  word-wrap: break-word;
}
html .top5 {
  margin-top: 5px;
}
html .mr-left15 {
  margin-left: 15px;
}
html input::-webkit-input-placeholder {
  color: #b4bccc;
}
html input:-ms-input-placeholder {
  color: #b4bccc;
}
html input::placeholder {
  color: #b4bccc;
}
html .opacity0 {
  opacity: 0;
}
html .base-color {
  /*标题背景底色*/
  padding: 8px 10px;
  margin-left: -10px;
  background-color: #f5f5f5;
}
html .light-font {
  /*浅字体*/
  font-size: 13px;
  color: #7d7d7d;
}
html .span-a {
  color: #337ab7;
  cursor: pointer;
}
html .span-a:hover {
  text-decoration: underline;
  color: #23527c;
}
html .warp {
  word-break: break-all;
}
html .nowrap {
  white-space: nowrap;
}
html .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
html .red {
  color: red;
}
html .font-12 {
  font-size: 12px;
}
html .break-all {
  word-break: break-all;
}
html .po {
  cursor: pointer;
}
html .inline {
  display: inline-block;
}
html .block {
  display: block;
}
html .over-hide {
  overflow: hidden;
}
html .fa-lg {
  font-size: 1.2em;
}
html .fr {
  float: right;
}
html .bold {
  font-weight: 700;
  color: #5a5e66;
}
html .fl {
  float: left;
}
html .center {
  text-align: center;
}
html a {
  text-decoration: none;
}
html .modal-btn {
  margin: 5px 0 15px 0;
}
html .modal-btn .close-btn {
  margin-left: 20px;
}
html .common-a {
  cursor: pointer;
}
html .common-a:hover {
  text-decoration: underline;
}
html .bold {
  font-weight: bold;
}
html ul {
  padding: 0;
}
html ul li {
  list-style: none;
}
html .rea {
  position: relative;
}
html .search-div {
  display: inline-block;
}
html .search-div .search-input {
  width: 240px;
  float: left;
  height: 28px;
}
html .search-div .my-btn {
  float: left;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 45px;
  margin-left: -6px;
}
html .search-div .my-btn img {
  margin-left: 3px;
}
html input,
html textarea {
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  padding: 2px 8px;
}
html input:focus,
html textarea:focus {
  outline: none;
}
html select::-ms-expand {
  display: none;
}
html .my-select {
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  height: 26px;
  line-height: 26px;
  padding-left: 5px;
  padding-right: 24px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  background: url(../../../../static/img/select-right.png) no-repeat scroll right center transparent;
}
html .my-select:focus {
  outline: none;
}
html .my-btn {
  display: inline-block;
  width: 95px;
  height: 28px;
  line-height: 28px;
  border-radius: 3px;
  border: 1px solid #df3a24;
  text-align: center;
  color: #fff;
  background: linear-gradient(to bottom, #f46554, #ea533f);
  cursor: pointer;
}
html .my-btn img {
  margin: -3px 5px 0 0;
}
html .my-btn:active {
  background: linear-gradient(to bottom, #ea533f, #f46544);
}
html .noResult-td img {
  width: 500px;
}
html .upload-content {
  display: inline-block;
  width: 100%;
  padding: 0;
}
html .upload-content .show-name {
  background-color: #fff;
  width: 78%;
  margin-right: -2%;
  padding-right: 2%;
  float: left;
}
html .upload-content .show-name:focus {
  outline: none;
}
html .upload-content .text {
  cursor: pointer;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  display: inline-block;
  width: 24%;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #eeeeee;
}
html .upload-content .hide-input {
  display: none;
}
html .shadow {
  border: 1px solid #b9b8b8;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #b9b8b8;
}
html .shadow-top {
  border-top: 5px solid #0076c0;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #b9b8b8;
}
html .bc-fff {
  background-color: #fff;
}
html table tr.interleave {
  background-color: #f6f8fa;
}
html table.my-table {
  margin-top: 15px;
  border: 1px solid #b9b8b8;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #b9b8b8;
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  overflow-x: auto;
  /*overflow: hidden;*/
}
html table.my-table thead {
  background-color: #e6eff5;
  overflow: hidden;
}
html table.my-table thead tr th {
  padding: 5px 10px 5px 10px;
  border-bottom: 2px solid #cedbe3;
  border-top: none;
  vertical-align: middle;
}
html table.my-table thead tr th:first-child {
  border-top-left-radius: 5px;
}
html table.my-table thead tr th:last-child {
  border-top-right-radius: 5px;
}
html table.my-table thead tr th:not(:first-child) {
  border-left: 1px dashed #e1e2e3;
}
html table.my-table thead tr th .img1 {
  width: 29px;
  height: 32px;
  background: url(../../../../static/img/th-2.png);
  float: right;
  margin-top: -6px;
  margin-bottom: -6px;
  margin-right: -10px;
  cursor: pointer;
  position: relative;
}
html table.my-table thead tr th .img1:hover .hide-content {
  display: block;
}
html table.my-table thead tr th .img1 .hide-content {
  position: absolute;
  top: 32px;
  display: none;
}
html table.my-table thead tr th .img1 .hide-content .img2 {
  cursor: pointer;
  background-color: transparent;
  z-index: 11;
  margin-left: 6px;
}
html table.my-table thead tr th .img1 .hide-content ul {
  margin: -5px 0 0 -30px;
  border: 1px solid #b9b8b8;
  box-shadow: 0 0 10px 1px #b9b8b8;
  padding: 0;
  z-index: 10;
  background-color: #fff;
  font-weight: normal;
  cursor: pointer;
}
html table.my-table thead tr th .img1 .hide-content ul li {
  padding: 5px 20px;
  white-space: nowrap;
}
html table.my-table thead tr th .img1 .hide-content ul li:hover {
  background-color: #ffecd2;
}
html table.my-table tbody {
  cursor: pointer;
  font-size: 12px;
}
html table.my-table tbody tr {
  /*td:first-child {
          border-bottom-left-radius: 5px;
        }*/
  /*td:last-child {*/
  /*border-bottom-right-radius: 5px;*/
  /*}*/
}
html table.my-table tbody tr td {
  padding: 5px 10px 5px 10px;
  border-top: none;
  border-bottom: 1px dashed #e1e2e3;
  vertical-align: middle;
}
html table.my-table tbody tr td:not(:first-child) {
  border-left: 1px dashed #e1e2e3;
}
html table.my-table tbody tr:hover {
  background-color: #fff5e7;
}
html table.my-table tbody tr.tr-bc {
  background-color: #f6f8fa;
}
html table.my-table tbody tr.in {
  background-color: #ffecd2;
}
html table.my-table tbody tr:last-child td {
  border-bottom: none;
}
html table.my-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
html table.my-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}
html table.my-table table tr:first-child th:first-child {
  border-top-left-radius: 5px;
}
html table.special-table {
  width: 100%;
  max-width: 100%;
}
html table.special-table tbody td {
  border: 1px solid #cfddd9;
  font-size: 12px;
  padding: 9px 15px;
}
html table.special-table tbody td .img-a img {
  width: 60px;
}
html table.special-table tbody td.t-bc {
  background-color: #e4ecea;
}
html table.no-shadow {
  border-radius: 0;
  box-shadow: none;
}
html table.table-top thead tr th {
  vertical-align: top;
}
html table.table-top tbody tr td {
  vertical-align: top;
}
html table.no-thead {
  box-shadow: none;
  border-radius: 0;
}
html table.no-thead tbody tr.tr-bc {
  background-color: #f6f8fa;
}
html table.no-thead tbody tr:not(:last-child) td:last-child,
html table.no-thead tbody tr:not(:last-child) td:first-child {
  border-bottom: 1px dashed #e1e2e3;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
html .el-table {
  border-radius: 5px;
  border: 1px solid #b9b8b8;
}
html .el-table .el-table__header-wrapper table thead {
  background-color: #e6eff5;
}
html .el-table .el-table__header-wrapper table thead tr th {
  height: 30px;
  border-bottom: 2px solid #cedbe3;
  border-top: none;
  background-color: #e6eff5;
}
html .el-table .el-table__header-wrapper table thead tr th > .cell {
  padding: 0px 10px;
  line-height: 20px;
  background-color: #e6eff5;
}
html .el-table .el-table__body-wrapper {
  /*overflow: visible;*/
  font-size: 12px;
}
html .el-table .el-table__body-wrapper table tbody tr td {
  height: 28px;
}
html .el-table .el-table__body-wrapper table tbody tr td > .cell {
  padding: 0 10px;
  line-height: 20px;
}
html .el-table .el-table__body-wrapper table tbody tr:hover {
  background-color: #fff5e7;
}
html .el-table .el-table__body-wrapper table tbody tr:hover td {
  background-color: #fff5e7;
}
html .el-table .el-table__body-wrapper table tbody tr.el-table__row--striped td {
  background-color: #f6f8fa;
}
html .filtrate-content {
  width: 290px;
  border: 1px solid #b9b8b8;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #b9b8b8;
  position: absolute;
  right: 0;
  top: 40px;
  padding: 14px 14px 20px 14px;
  background-color: #fff;
  z-index: 10;
}
html .filtrate-content .up {
  position: absolute;
  right: 20px;
  top: -9px;
}
html .filtrate-content .title {
  padding-bottom: 9px;
  border-bottom: 1px solid #d4d4d4;
}
html .filtrate-content .content {
  padding-top: 6px;
}
html .filtrate-content .content .left {
  float: left;
  width: 70px;
}
html .filtrate-content .content .right {
  float: left;
  width: 185px;
}
html .filtrate-content .content .right input {
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  width: 100%;
}
html .filtrate-content .content .single {
  margin: 3px 0;
  min-height: 28px;
}
html .filtrate-content .search-btn {
  margin-top: 20px;
  margin-left: 90px;
}
html .spinner {
  z-index: 10000;
  position: fixed;
  top: 50%;
  left: 45%;
  width: 150px;
  text-align: center;
}
html .spinner div {
  width: 30px;
  height: 30px;
  background-color: #258dc1;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bounceDelay 1.4s infinite ease-in-out;
  animation: bounceDelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
html .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
html .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bounceDelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
html table .el-input__inner,
html .modal-body .el-input__inner,
html #addModal .el-input__inner {
  height: 25px;
  line-height: 25px;
  padding: 0 5px;
}
html table .el-cascader__label,
html .modal-body .el-cascader__label,
html #addModal .el-cascader__label {
  line-height: 25px;
}
html table .el-input__icon,
html .modal-body .el-input__icon,
html #addModal .el-input__icon {
  line-height: 20px;
}
html table .el-cascader,
html .modal-body .el-cascader,
html #addModal .el-cascader {
  line-height: normal;
  font-size: 12px;
}
html .shadow {
  border: 1px solid #b9b8b8;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #b9b8b8;
}
html .similar-table {
  background: #fff;
  border: 1px solid #b9b8b8;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #b9b8b8;
}
html .similar-table > div {
  padding: 0;
  margin: 0;
}
html .similar-table .similar-thead {
  border-bottom: 2px solid #cedbe3;
}
html .similar-table .similar-thead span {
  background-color: #e6eff5;
}
html .similar-table .similar-thead span:first-child {
  border-top-left-radius: 5px;
}
html .similar-table .similar-thead span:last-child {
  border-top-right-radius: 5px;
}
html .similar-table .similar-thead span:not(:first-child) {
  border-left: 1px dashed #e1e2e3;
}
html .similar-table .similar-th,
html .similar-table .similar-td {
  height: 28px;
  line-height: 28px;
}
html .similar-table .similar-tbody {
  /*左下角和右下角div*/
}
html .similar-table .similar-tbody > span:not(:last-child) {
  border-right: 1px dashed #e1e2e3;
}
html .similar-table .similar-tbody > span {
  padding: 0;
}
html .similar-table .similar-tbody > span > div {
  padding-left: 15px;
  cursor: pointer;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
}
html .similar-table .similar-tbody > span > div:hover {
  background-color: #fff5e7;
}
html .similar-table .similar-tbody > span > div:not(:last-child) {
  border-bottom: 1px dashed #e1e2e3;
}
html .similar-table .similar-tbody > span > div.in:not(.tooltip) {
  background-color: #ffecd2;
}
html .similar-table .similar-tbody > span > div.special-bc {
  background-color: #f6f8fa;
}
html .similar-table .similar-tbody > span > div.special-bc:hover {
  background-color: #fff5e7;
}
html .similar-table .similar-tbody > span:first-child > div:last-child {
  border-bottom-left-radius: 5px;
}
html .similar-table .similar-tbody > span:first-child > div:first-child {
  border-top-left-radius: 5px;
}
html .similar-table .similar-tbody > span:last-child > div:last-child {
  border-bottom-right-radius: 5px;
}
html .similar-table .similar-tbody > span:last-child > div:first-child {
  border-top-right-radius: 5px;
}
